@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


:root {
    --first: #155696;
    --second: #56a0ebff;
    --third: rgb(78, 152, 226);
}

body {
    background: rgb(255, 255, 255);
    padding: 0; 
    margin: 0;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}


#menu {
    background: white;
    position: fixed;
    display: flex;
    z-index: 200;
    overflow-y: hidden;
    height: 85px;
    width: 100%;
    padding-left: 40px;
    align-items: center;
    top: 0;
}
#menucontent {
    display: flex;
    align-items: center;
}

#menu-name {
    color: var(--first);
    font-family: "Poppins";
    font-size: 25px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

.menu-link {
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #2b2b2b;
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.15s;
    margin-left: 20px;
}


.menu-link:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#menubutton {
    background-image: url("./images/Hamburger\ Menu.png");
    background-repeat: none;
    background-size: contain;
    width: 0px;
    height: 0px;
    filter: opacity(0%);
}

#contact {
    height: 600px;
    background: var(--first);
    justify-content: center;
    align-items: center;
    display: flex;
}
#contactheader {
    font-size: 30px;
    width: 400px;
    height: 50px;
    text-align: left;
    padding-top: 40px;
    margin-top: 0px;
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    border-radius: 15px;
    transition: .15s;
}

#contactleft, #contactmid, #contactright {
    text-align: left;
    height: 500px;
    width: 400px;
    margin-left: 50px;
    border-radius: 20px;
}
#header2 {
    font-size: 30px;
    width: 400px;
    height: 50px;
    text-align: left;
    padding-top: 40px;
    margin-top: 0px;
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    border-radius: 15px;
    transition: .15s;
    color: rgb(255, 164, 164);
}

#contacttext, #imagelink {
    font-family: "Poppins";
    font-weight: 600;
    color: rgb(152, 187, 216);
    font-size: 16px;
    padding-right: 25px;
    text-align: left;
}

#imagelink {
    color: rgb(208, 228, 255);
    text-decoration: none;
    text-align: left;
    border-bottom: 2px solid transparent;
    transition: 0.15s;
    padding-bottom: 0px;
    padding-right: 0px;
}
#imagelink:hover {
    border-bottom: 2px solid var(--second);
}



@media only screen and (max-width: 1024px) {
    html,body{
        overflow-x: hidden;
    }
    #menu {
        height: 170px;
        width: 100vw;
        display: block;
        transition: 0.3s;
        overflow: hidden;
        padding-top: 50px;
    }
    #menucontent {
        display: flex;
    }
    #menubutton {
        filter: opacity(100%);
        width: 70px;
        height: 70px;
        margin-left: 15vw;
        cursor: pointer;
        border: none;
        outline: none;
    }

    #menu-name {
        font-size: 60px;
        padding-left: 50px;
    }
    #tabs {
        display: block;
        text-align: center;
        width: 95vw;
        position: absolute;
        margin-left: 0px;
    }
    #tabs a, #menu-contact {
        display: inline-block;
        font-size: 40px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 30px;

    }

    #contact {
        width: 100%;
        display: block;
        height: 2000px;
        padding-top: 50px;
        text-align: center;
        padding-left: 50px;
    }
    #contactmid, #contactleft, #contactmid, #header2, #contacttext, #contactheader, #imagelink {
        text-align: center;
        margin-left: 0;
        width: 95%;
    }
    #contactleft {
        margin-bottom: 200px;
    }
    #header2, #contactheader {
        font-size: 50px;
    }
    #contacttext {
        font-size: 30px;
    }
    #imagelink {
        font-size: 30px;
        text-align: center;
        margin-left: 0;
        width: 100%;
        margin-right: 40px;
    }
}
